@charset "utf-8";

/* Reset Css */

@import url("./reset.css");

/* Rules Css */

@import url("./rules.css");

/* Add Quizz Css */

@import url("./add-quiz.css");


/* List Quizz */

@import url("./quizz-list.css");

/* Estilo do quizz questions */

@import url("./quizz-questions.css");


@media (max-width: 415px) {
    .add-quizz-area {
        width: 340px;
        margin: 77px auto;
    }
    .list-card {
        justify-content: center;
    }
    .list-quizz-area {
        width: 340px;
        margin: auto;
    }
    .header-my-quizzes {
        width: 340px;
        justify-content: space-between;
    }
}


/* Media  Quizz */

@media (max-width: 415px) {
    .title-quizz {
        font-size: 19px;
    }
    .questions {
        padding: 27px 14px;
    }
    .question-title {
        height: 90px;
    }
    .question-title h2 {
        font-size: 19px;
        text-align: center;
        line-height: 23px;
    }
    .question-image img {
        width: 163px;
        height: 113px;
    }
    .question-image .breakword {
        width: 163px;
    }
    .question-image img:last-child {
        width: 100%;
        height: auto;
    }
    .header-result {
        height: 99px;
        padding: 0 10px;
    }
    .title-result {
        margin-top: 20px;
        padding: 0;
    }
    .header-result + .question-area-images{ 
        flex-wrap: wrap;
    }
}