:root {
  --header-color: #EC362D;
  --main-color: #FAFAFA;
  --text-wrong: #FF4B4B;
  --text-correct: #009C22;

}

/* Regras de flex */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

/* Regras de layout */

.header-result {
  background-color: var(--header-color) !important;
}