:root {
  --header-color: #EC362D;
  --main-color: #FAFAFA;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}