@charset "utf-8";

/* Reset Css */

@import url("./reset.css");

/* Rules Css */

@import url("./rules.css");



.header {
  width: 100%;
  height: 69px;
  background-color: var(--header-color);
}

.header-title {
  font-weight: 700;
  font-size: 37px;
}