@charset "utf-8";

/* Reset Css */

@import url("./reset.css");

/* Rules Css */

@import url("./rules.css");

body {
  background-color: var(--main-color);
}

.header {
  width: 100%;
  height: 69px;
  background-color: var(--header-color);
}

.header-title {
  font-weight: 700;
  font-size: 37px;
}

.add-quizz {
  width: 100%;
  max-width: 1051px;
  height: inherit;
}

.add-quizz-area {
  width: 100%;
  height: 181px;
  border-radius: 5px;
  border: 1px dashed #D5D5D5;
  margin: 77px 0;
}

.add-quiz-notification{
  color: #B9B9B9;
  font-size: 20px;
  width: 210px;
  text-align: center;
  line-height: 23px;
}
.add-quizz-action {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
  font-size: 21px;
  color: var(--header-color);
  border: 1px dashed var(--header-color);
}

/* Listagem dos quizzes */

.title-all-quizz {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}

.list-card li{
  margin-bottom: 19px;
}

.figure-quizz, .figure-img {
  width: 340px;
  height: 181px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.figure-img {
  transition: transform 0.3s linear;
}
.figure-quizz:hover .figure-img {
  transform: scale(1.1);
}

.quizz-title {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  padding: 10px 15px;
}

.figure-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}